[submodule "roles/nginx"]
	path = ansible/roles/nginx
	url = git@github.com:void-ansible-roles/nginx.git
[submodule "roles/sshd"]
	path = ansible/roles/sshd
	url = git@github.com:void-ansible-roles/sshd.git
[submodule "roles/xbps-repoconf"]
	path = ansible/roles/xbps-repoconf
	url = git@github.com:void-ansible-roles/xbps-repoconf.git
[submodule "roles/acmetool"]
	path = ansible/roles/acmetool
	url = git@github.com:void-ansible-roles/acmetool.git
[submodule "roles/mosh"]
	path = ansible/roles/mosh
	url = git@github.com:void-ansible-roles/mosh.git
[submodule "ansible/roles/node_exporter"]
        path = ansible/roles/node_exporter
        url = git@github.com:void-ansible-roles/node_exporter.git
