---
network_static_routes:
  - to: default
    via: 95.216.76.65
  - to: default
    via: fe80::1 dev enp0s31f6

network_static_interfaces:
  - name: enp0s31f6
    type: direct
    addrs:
      - 95.216.76.97/26
      - 2a01:4f9:2b:c9e::2/64

xbps_repository_main: /mnt/data/pkgs/binpkgs
xbps_repository_nonfree: /mnt/data/pkgs/binpkgs/nonfree
xbps_repository_multilib: /mnt/data/pkgs/binpkgs/multilib
xbps_repository_multilib_nonfree: /mnt/data/pkgs/binpkgs/multilib/nonfree

sshd_AllowGroups:
  - build-ops
  - syncpeers

nginx_dhparam_bits: 2048

buildmaster_ssl_cert_path: /var/lib/acme/live/build.voidlinux.org/fullchain
buildmaster_ssl_certkey_path: /var/lib/acme/live/build.voidlinux.org/privkey

sources_site_cert_path: /var/lib/acme/live/sources.voidlinux.org/fullchain
sources_site_key_path: /var/lib/acme/live/sources.voidlinux.org/privkey

xqapi_site_cert_path: /var/lib/acme/live/xq-api.voidlinux.org/fullchain
xqapi_site_key_path: /var/lib/acme/live/xq-api.voidlinux.org/privkey

man_cert_path: /var/lib/acme/live/man.voidlinux.org/fullchain
man_key_path: /var/lib/acme/live/man.voidlinux.org/privkey

buildslave_zone: FI-1
buildslave_master: localhost

buildslave_groups:
  - xbuilder
  - void-repo

buildslave_hostdir_group: void-repo

live_mirror_bind6: true
live_mirror_servernames:
  - a-hel-fi.m.voidlinux.org
  - alpha.de.repo.voidlinux.org

live_mirror_srvdir: /srv/www/void-repo
live_mirror_secure_sync: true
live_mirror_isroot: true

live_mirror_ssl: true
live_mirror_cert_path: /var/lib/acme/live/a-hel-fi.m.voidlinux.org/fullchain
live_mirror_certkey_path: /var/lib/acme/live/a-hel-fi.m.voidlinux.org/privkey

acmetool:
  sites:
    - site: build.voidlinux.org
      names:
        - build.voidlinux.org
    - site: sources.voidlinux.org
      names:
        - sources.voidlinux.org
    - site: xq-api.voidlinux.org
      names:
        - xq-api.voidlinux.org
    - site: a-hel-fi.m.voidlinux.org
      names:
        - a-hel-fi.m.voidlinux.org
        - alpha.de.repo.voidlinux.org
    - site: docs.voidlinux.org
      names:
        - docs.voidlinux.org
    - site: man.voidlinux.org
      names:
        - man.voidlinux.org
  hostmaster_email: postmaster@voidlinux.org
  services:
    - nginx

mdbook_sites:
  - name: docs
    root_path: /srv/www/void-repo/docs
    urls:
      - docs.voidlinux.org
    source_url: https://github.com/void-linux/void-docs
    source_port: 443
    tls:
      certificate: /var/lib/acme/live/docs.voidlinux.org/fullchain
      key: /var/lib/acme/live/docs.voidlinux.org/privkey
      stapling: true

xqapi:
  repodata: /mnt/data/pkgs/binpkgs

nomad_host_volumes:
  - name: root_mirror
    path: /srv/www/void-repo
    read_only: true
  - name: dist_pkgs
    path: /mnt/data/pkgs/binpkgs
    read_only: false
  - name: dist_sources
    path: /mnt/data/pkgs/sources
    read_only: false
  - name: terrastate
    path: /nomad/terrastate
    read_only: false
  - name: musl_hostdir
    path: /hostdir
    read_only: false

nomad_reserved_ports:
  - 80  # Legacy nginx on this host
  - 443 # Legacy nginx on this host
  - 873 # Externally managed rsync on this host
