---
network_static_routes:
  - to: default
    via: 135.181.18.178 onlink dev eth0

network_static_interfaces:
  - name: eth0
    type: direct
    addrs:
      - 65.21.160.177/32
      - 2a01:4f9:4b:42dc::d01/64

nomad_host_volumes:
  - name: dist_mirror
    path: /data/dist_mirror
    read_only: false
  - name: dist_sources
    path: /data/dist_sources
    read_only: false

nomad_meta:
  mirror_region: fi
