controlgroup wheel
persistent
hostname
duid
option rapid_commit
option domain_name_servers
option domain_name
option domain_search
option host_name
option classless_static_routes
option ntp_servers
option interface_mtu
require dhcp_server_identifier
slaac hwaddr

nohook resolv.conf
