---
buildmaster_default_workdir: buildmaster-workdir

buildslave_buildslaves:
  - name: x86_64-primary
    sname: x86_64_void
    mach: x86_64
    zone: DE-1

  - name: i686-primary
    sname: i686_void
    mach: i686
    zone: DE-1

  - name: armv6l-primary
    sname: cross-rpi_void
    mach: armv6l
    zone: DE-1

  - name: armv7l-primary
    sname: cross-armv7l_void
    mach: armv7l
    zone: DE-1

  - name: x86_64-musl-primary
    sname: x86_64-musl_void
    mach: x86_64-musl
    service_name: buildslave-x86_64-musl
    zone: FI-1

  - name: armv6l-musl-primary
    sname: cross-armv6-musl_void
    mach: armv6l-musl
    service_name: buildslave-cross-armv6l-musl
    zone: FI-1

  - name: armv7l-musl-primary
    sname: cross-armv7-musl_void
    mach: armv7l-musl
    service_name: buildslave-cross-armv7l-musl
    zone: FI-1

  - name: aarch64-primary
    sname: cross-aarch64_builder
    directory: slave-cross-aarch64
    service_name: buildslave-cross-aarch64
    mach: aarch64
    bootstrapargs: ""
    zone: DE-2

  - name: aarch64-musl-primary
    sname: cross-aarch64-musl_builder
    directory: slave-cross-aarch64-musl
    service_name: buildslave-cross-aarch64-musl
    mach: aarch64-musl
    bootstrapargs: ""
    zone: DE-2

buildslave_zones:
  DE-1:
    admin:
      nick: maldridge
      name: maldridge
      mail: maldridge@voidlinux.org
    xbps:
      makejobs: 16
  DE-2:
    admin:
      nick: leah2
      name: Leah Neukirchen
      mail: leah@vuxu.org
    xbps:
      makejobs: 3
  FI-1:
    admin:
      nick: maldridge
      name: maldridge
      mail: maldridge@voidlinux.org
    xbps:
      makejobs: 6

buildmaster_remote_zones:
  - DE-2
  - FI-1
