Repository: {{ live_mirror_srvdir }}
Templates: /usr/share/mirrorbits/templates/
OutputMode: redirect
ListenAddress: 127.0.1.1:8002
Gzip: false
RedisAddress: localhost:6379
RedisPassword:
RedisDB: 0
LogDir: /var/log/mirrorbits
TraceFileLocation: /var/log/mirrorbits/trace
GeoipDatabasePath: /usr/share/GeoIP/
ConcurrentSync: 5
ScanInterval: 30
CheckInterval: 1
RepositoryScanInterval: 5
Hashes:
    SHA256: Off
    SHA1: Off
    MD5: Off
DisallowRedirects: false
WeightDistributionRange: 1.5
DisableOnMissingFile: false
MaxLinkHeaders: 10
Fallbacks:
    - Name: Buildmaster
      URL: http://vm1.a-lej-de.m.voidlinux.org
      CountryCode: de
      ContinentCode: eu
