XBPS_MAKEJOBS={{ buildslave_zones[buildslave_zone].xbps.makejobs | default(4) }}
XBPS_CCACHE={{ buildslave_zones[buildslave_zone].xbps.ccache | default("yes") }}
XBPS_DEBUG_PKGS={{ buildslave_zones[buildslave_zone].xbps.debugpkgs | default("yes") }}
XBPS_CHROOT_CMD={{ buildslave_zones[buildslave_zone].xbps.chrootcmd | default("uchroot") }}
XBPS_USE_GIT_REVS={{ buildslave_zones[buildslave_zone].xbps.gitrevs | default("yes") }}
XBPS_DISTFILES_MIRROR="{{ buildslave_zones[buildslave_zone].xbps.distfiles_mirror | default('https://sources.voidlinux.org/') }}"
