server {
  listen {{ archive_mirror_bindip }}:{{archive_mirror_bindport }};
  server_name {{ archive_mirror_servername | join(" ") }};

  access_log  {{ archive_mirror_accesslog  }};

  location / {
    root   {{ archive_mirror_dataroot }};
    autoindex on;
    index  index.html index.htm;
  }
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }
}
