machines = [
{% for builder in buildslave_buildslaves %}
    {
        'name': '{{ builder.name }}',
        'mach': '{{ builder.mach }}',
        'workdir': '{{ builder.mach }}-workdir',
        'hostdir': '{{ buildslave_zones[builder.zone].hostdir | default("/hostdir") }}',
        'crosstarget': '{{ buildmaster_machmap[builder.mach].cross }}',
        'subarch': '{{ buildmaster_machmap[builder.mach].subarch }}',
        'BootstrapArgs': '{{ builder.bootstrapargs | default("-N") }}',
        'slave_name': '{{ builder.sname | default(builder.name) }}',
        'slave_pass': '{{ buildslave_credentials[builder.name] }}',
        'admin': '{{ buildslave_zones[builder.zone].admin.nick }}'
    },
{% endfor %}
]

web_users = [
{% for user in buildmaster_users %}
    ('{{ user.name }}', '{{ user.pass }}'),
{% endfor %}
]
