#!/bin/bash

MAINREPO="/hostdir/binpkgs"
REPOS="$MAINREPO $MAINREPO/nonfree $MAINREPO/debug"
REPOS64="$MAINREPO/multilib $MAINREPO/multilib/nonfree"
ARCHS="i686 x86_64 armv6l armv7l"

add() {
	local _arch="$1"
	local _repo="$2"

	for f in ${_repo}/*.{${_arch},noarch}.xbps; do
		$XBPS_TARGET_ARCH=${_arch} xbps-rindex -a ${f} 2>/dev/null
	done
}

clean() {
	local _arch="$1"
	local _repo="$2"
	
	XBPS_TARGET_ARCH=${_arch} xbps-rindex -c ${_repo} 2>/dev/null
}

remove() {
	local _arch="$1"
	local _repo="$2"
	
	XBPS_TARGET_ARCH=${_arch} xbps-rindex -c ${_repo} 2>/dev/null
}

# Register binpkgs just in case...
for f in ${REPOS}; do
	for x in ${ARCHS}; do
		( XBPS_TARGET_ARCH=$x xbps-rindex -a ${f}/*.{${x},noarch}.xbps 2>/dev/null ) &
	done
done
wait
for f in ${REPOS64}; do
	( xbps-rindex -a ${f}/*.{x86_64,noarch}.xbps 2>/dev/null ) &
done
wait
for f in ${REPOS64}; do
	( xbps-rindex -c ${f} 2>/dev/null ) &
done
wait
for f in ${REPOS64}; do
	( xbps-rindex -r ${f} 2>/dev/null ) &
done
wait
for f in ${REPOS}; do
	for x in ${ARCHS}; do
		XBPS_TARGET_ARCH=$x xbps-rindex -c ${f} 2>/dev/null
	done
done
wait
for f in ${REPOS}; do
	for x in ${ARCHS}; do
		XBPS_TARGET_ARCH=$x xbps-rindex -r ${f} 2>/dev/null
	done
done
wait

exit 0
