* * * * * {{ buildmaster_repomgr }} flock -w 0 /tmp/xbps-sign-repos.lock ${HOME}/bin/xbps-sign-repos >/dev/null 2>&1
0 2 * * * {{ buildmaster_repomgr }} flock -w 0 /tmp/xbps-clean-repos.lock ${HOME}/bin/xbps-clean-repos
