pki:
  ca: /etc/nebula/ca.crt
  cert: /etc/nebula/{{network_hostname}}.crt
  key: /etc/nebula/{{network_hostname}}.key

static_host_map:
{% for h in nebula_static_hosts %}
  {{h.host}}: {{h.addrs}}
{% endfor %}

lighthouse:
  am_lighthouse: {{nebula_lighthouse|bool|lower}}
  interval: 60
  hosts:
{% for l in nebula_lighthouses %}
    - {{l}}
{% endfor %}
listen:
  host: 0.0.0.0
  port: 4242

punchy:
  punch: true
  respond: true

tun:
  dev: void0
  drop_local_broadcast: false
  drop_multicast: false
  tx_queue: 500
  mtu: 1300

logging:
  level: info
  format: text

stats:
  type: prometheus
  listen: 0.0.0.0:4243
  path: /metrics
  namespace: prometheusns
  subsystem: nebula
  interval: 10s

firewall:
  conntrack:
    tcp_timeout: 12m
    udp_timeout: 3m
    default_timeout: 10m
    max_connections: 100000

  outbound:
    - port: any
      proto: any
      host: any

  inbound:
    - port: any
      proto: any
      host: any
