#!/bin/sh

chpst -u reposync:reposync rsync -avzurk --delete --password-file /etc/void-mirrorsync.secret {{ live_mirror_syncuser }}@{{ live_mirror_syncserver }}::{{ live_mirror_syncsrcdir }} {{ live_mirror_syncdstdir }}
exec sleep {{ live_mirror_sync_interval }}
